# Include anything required to run the library that is *not* a Python file in `src/`
include *.txt tox.ini .coveragerc *.rst *.md
include *.in
recursive-include tests *.py

# Documentation
recursive-include assets *.json
recursive-include sbin *.sh

# config
include .isort.cfg
include .bumpversion.cfg
include mypy.ini

# notebooks
recursive-include notebooks *.ipynb
recursive-include notebooks *.py

# experiments
include experiments/policyeval/envs.json
include experiments/policyeval/experiments.csv

# make
include Makefile

# typing
recursive-include src *.typed

# sbin
recursive-include sbin/local
