# Include anything required to run the library that is *not* a Python file in `src/`
include *.txt tox.ini .coveragerc *.rst *.md
include *.in
recursive-include tests *.py

# Documentation
recursive-include docs *.md

# assets
recursive-include assets *.json
recursive-include sbin *.sh

# config
include .isort.cfg
include .bumpversion.cfg
include mypy.ini

# notebooks
recursive-include notebooks *.ipynb
recursive-include notebooks *.py
recursive-include notebooks *.pdf

# experiments
recursive-include experiments *.csv
recursive-include experiments *.json

# make
include Makefile

# typing
recursive-include src *.typed

# sbin
recursive-include sbin/local
